@charset 'utf-8';
body,
html {
  position: relative;
  width: 100%;
}
.deadbydaylight-page {
  width: 100%;
}
.deadbydaylight-page > figure {
  width: 100%;
}
.deadbydaylight-page > figure img {
  width: 100%;
}
